{% extends 'base.html' %}

{% block title %}Māori Dictionary | Home{% endblock %}

{% block heading %}Māori - English Dictionary{% endblock %}

{% block main %}
<table>
    <tr>
        <th>Maori Word</th>
        <th>English Word</th>
        <th>Definition</th>
        <th>Difficulty</th>
        <th></th>
    </tr>
{#    {% for definition in definitions %}#}
    <tr>
        <td>{{ definition[1] }}</td>
        <td>{{ definition[2] }}</td>
        <td>{{ definition[3] }}</td>
        <td>{{ definition[4] }}</td>
        <td><img src="/static/images/{{ definition[5] }}" alt=""></td>
    </tr>
{#    {% endfor %}#}
</table>
<form method="post">
    <input type="submit" id="delete button" onclick="return confirm('Are you sure you want to do this karl?')" value="Delete word">
</form>
{% endblock %}
