{% extends 'base.html' %}

{% block title %}Maōri Dictionary | Home{% endblock %}

{% block heading %}Maōri - English Dictionary{% endblock %}

{% block main %}
This is an english - maori dictionary which shows definitions, photos and difficulty for each word, chur
{% if logged_in %}
    <li>You are logged in</li>
        <form class="dataForm" method="POST">
    <div class="form-group">
            <div class="form-label"><label for="category">Add a category:</label></div>
            <div class="form-element"><input name="category" id="category" type="category"></div>
        </div>
    <div class="form-group">
        <div class="form-element"><input type="submit"></div>
    </div>

{% else %}
    <li>Create an account or log in to access all aspects on the dictionary</li>
{% endif %}
{% endblock %}