# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\17075\OneDrive - Wellington College\Technology\DTS\Maori DictionaryY13\Maori Dictionary\Maori Dictionary\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
